html{
    max-width: 100vw;
    overflow: hidden;
}

body{
    font-family: arial,sans-serif;
}

// Style the navbar
nav {
    width: 100%;
    margin: 0!important;
    position: relative;
    top: 0;
    padding: 0 30px;

    ul{
        text-decoration: none;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0!important;

        li{
            margin: 0 1%;
            height: 47px;

            a{
                text-decoration: none;
                color: rgba(0,0,0,0.87);
                font-size: 13px;
                white-space: nowrap;
                height: inherit;
                div{
                    height: inherit;
                    text-align: center;
                    padding: 15px 0;
                }
            }

            a:hover{
                color: rgba(0,0,0,0.85);
                text-decoration: underline;
            }
        }
    }

}

.advanced-nav{
    height: 60px;
    background: #e5e5e5;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .advanced-logo{
        padding: 15px 15px;
        

        img{
            max-height: 33px;
            width: 92px;

        }
    }

    ul{
        justify-self: flex-end;
        margin: 0 30px 0 0;

        li{
            margin: 0 5%;
            height: 47px;
        }

    }
}

.appbar{
    color: #d93025;
    font-size: 20px;
    margin: 22px 35px;
}

.divider{
    border-bottom: 1px solid #ebebeb;
}

.center{
    text-align: center;
    min-height: 100px;
    min-width: 400px;
    margin-bottom: 4%;
    top: 0;
    position: relative;
}

.logo-subtext{
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
    left: 105px;
    position: relative;
    bottom: 20px;
    white-space: nowrap;
    height: 0px;
}

.search-bar-outer{
    position: relative;
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;

    .search-bar-inner{
        padding: 5px 8px 0 14px;
        position: absolute;
        top: 0;

        .search-icon{
            width: 20px;
            margin: 8px 0;
            
            path{
                fill: #9aa0a6;
            }
        }

        #q{
            position: absolute;
            top: 0;
            border: 0;
            background: rgba(0,0,0,0);
            width: 90vw;
            max-width: 550px;
        }
    }
}

.search-bar-outer:hover{
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

.advanced-form{
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;
}

#find-pages-with{
    float: left;
    display: inline-block;
    min-width: 167px;
    width: 16%;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    vertical-align: middle;
}

.form-group{
    margin: auto;
    max-width: 584px;
    display: flex;



    label{
        white-space: nowrap;
        width: 167px;
        font-weight: normal;
        font-size: 13px;
    }

    .advanced-search{
        width: 50%;
        height: 25px;
        min-width: 167px;
        border-radius: 0;
    }

    .advanced-search:focus{
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
        border: 1px solid #4d90fe;
        outline: none;
    }

    #q{
        background: #fff;
        display: flex;
        border: 1px solid #dfe1e5;
        box-shadow: none;
        border-radius: 24px;
        height: 44px;
        margin: 0 auto;
    }
}

.advanced{
    max-width: 100%!important;
    min-width: 167px;
}

.buttons{
    display: flex;
    justify-content: center;

    .btn{
        background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
        background-color: #f2f2f2;
        border: 1px solid #f2f2f2;
        border-radius: 4px;
        color: #5F6368;
        font-size: 14px;
        margin: 11px 4px;
        padding: 0 16px;
        line-height: 27px;
        height: 36px;
        min-width: 54px;
        text-align: center;
        cursor: pointer;
    }
    .btn:hover{
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
        background-color: #f8f8f8;
        border: 1px solid #c6c6c6;
        color: #222;
    }
    .btn:focus{
        border: 1px solid #4d90fe;
        outline: none;
    }
}

.advanced-button-container{
    width: 50%;
    margin: 0 0 0 167px;
    display: flex;
    justify-content: flex-end;
}

.advanced-button{
    box-shadow: none;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    border: 1px solid #3079ed;
    color: #fff;
    border-radius: 2px;

    font-weight: bold;
    font-size: 11px;

    margin: 10px 0;
    padding: 0 12px;
    min-width: 120px;
    height: 30px;
}

.advanced-button:hover{
    border: 1px solid #2f5bb7;
    border-image: initial;
    background-color: #357ae8;
    background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
}

.advanced-button:active{
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    background: #357ae8;
    border: 1px solid #2f5bb7;
    border-top: 1px solid #2f5bb7;
}

.advanced-button:focus{
    box-shadow: inset 0 0 0 1px #fff;
    border: rgba(0,0,0,0) solid 1px;
    outline: rgba(0,0,0,0) 0;
}